# Environment Configuration
# Copy to .env and update for your deployment

# MQTT Broker Configuration
MQTT_BROKER_URL= # For Development (HTTP)
MQTT_BROKER_URLS= ws://localhost:9001
MQTT_USERNAME= axa
MQTT_PASSWORD= aiiejqdjqn


# InfluxDB Configuration (optional)
INFLUX_HOST=
INFLUX_DB=

# Site Configuration
SITE_URL=http://localhost:3000
# For Production: SITE_URL=https://ms.ashborn.top
